# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ======================
# Virtual environments
# ======================
venv/
.env/
.venv/
env/
ENV/
venv.bak/

# ======================
# Flask instance folder
# ======================
instance/
*.sqlite3
*.db

# ======================
# Environment variables
# ======================
.env
.env.local
.env.*.local

# Uploaded PDF files
uploads/